// Specific CSS for your home-page
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.content6-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-5 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 12;
  grid-column-start: span 12;
  -ms-grid-column-span: 12;
  grid-column-end: span 12;
}

.content6-headline-grid {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-6 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 6;
  grid-column-end: 10;
}

.content6-headline-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-label {
  display: block;
  margin-bottom: 10px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.size1-text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
  white-space: normal;
}

.paragraph-70 {
  margin-bottom: 10px;
  opacity: 0.7;
}

.wrapper.m100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper.m150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.wrapper.m200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.content6-image1 {
  height: 360px;
  margin-bottom: 40px;
  background-image: url('https://source.unsplash.com/V4AXINEp-WU');
  background-position: 50% 50%;
  background-size: cover;
}

#product-node-7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row-align: start;
  align-self: start;
}

.content6-image2 {
  height: 460px;
  background-image: url('https://source.unsplash.com/tC7G9eTrORQ');
  background-position: 50% 50%;
  background-size: cover;
}

#product-node-8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

.content6-image3 {
  height: 360px;
  background-image: url('https://source.unsplash.com/jgpVWSHvm-8');
  background-position: 50% 50%;
  background-size: cover;
}

#product-node-9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row-align: end;
  align-self: end;
}

.content24-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-10 {
  -ms-grid-column-span: 5;
  grid-column-end: 6;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.quote {
  position: relative;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
}

#product-node-11 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 4;
  grid-column-end: 8;
}

.content-image-quote {
  min-height: 360px;
  margin-top: 67px;
  background-image: url('https://source.unsplash.com/Oqv_bQbZgS8');
  background-position: 50% 0%;
  background-size: cover;
}

#product-node-12 {
  -ms-grid-column-span: 4;
  grid-column-end: 13;
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

.content24-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.colour-dot {
  width: 12px;
  height: 6px;
  margin-top: 7px;
  margin-right: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #af9387;
}

.content30-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-13 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
}

.size1-text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
  white-space: normal;
}

#product-node-14 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

.sizejumbo-text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 80px;
  line-height: 96px;
  font-weight: 300;
}

.content30-divider {
  height: 1px;
  margin-top: 25px;
  margin-bottom: 35px;
  background-color: #18181d;
  opacity: 0.05;
}

.size5-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.paragraph-70 {
  margin-bottom: 10px;
  opacity: 0.7;
}

#product-node-15 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#product-node-16 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#product-node-17 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

.home-background-image {
  height: 360px;
  background-image: url(https://source.unsplash.com/xKwe7TVtmQE);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.content-cat-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-20 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 12;
  grid-column-start: span 12;
  -ms-grid-column-span: 12;
  grid-column-end: span 12;
}

.content-headline-wrap {
  max-width: 582px;
}

#product-node-21 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

.image-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.catagory-1 {
  height: 360px;
  background-image: url('https://source.unsplash.com/LqKhnDzSF-8');
  background-position: 50% 50%;
  background-size: contain;
}

.catagory-2 {
  height: 360px;
  background-image: url('https://source.unsplash.com/cO2YO0kWS04');
  background-position: 50% 50%;
  background-size: contain;
}


.catagory-3 {
  height: 360px;
  background-image: url('https://source.unsplash.com/E46gYvTdlrs');
  background-position: 50% 50%;
  background-size: contain;
}

.catagory-4 {
  height: 360px;
  background-image: url('https://source.unsplash.com/vvah86ql8iM');
  background-position: 50% 50%;
  background-size: cover;
}

.catagory-5 {
  height: 360px;
  background-image: url('https://source.unsplash.com/WKV7HyRPHdE');
  background-position: 50% 50%;
  background-size: cover;
}


.catagory-6 {
  height: 360px;
  background-image: url('https://source.unsplash.com/mvF75Luydls');
  background-position: 50% 50%;
  background-size: cover;
}

.catagory-description-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.catagory-image-description {
  margin-top: 24px;
  margin-bottom: 20px;
}

.size3-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #18181d;
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  text-decoration: none;
}


.size3-text.size3-top-clear {
  margin-top: 0px;
}

.catagory-button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.button-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #18181d;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.button-arrow {
  display: inline-block;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.product6-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-22 {
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
}

.button-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 0px;
  background-color: #18181d;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small:hover {
  background-color: #272731;
}

.button-small.white-small {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

#product-node-23 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 4;
  grid-column-end: 13;
  -ms-grid-row-align: center;
  align-self: center;
}

.product6-image {
  position: relative;
  min-height: 582px;
  background-image: url('https://source.unsplash.com/S0ptSZA7nVg');
  background-position: 50% 50%;
  background-size: cover;
}

.product6-content-wrap {
  padding-top: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product6-description-wrap {
  margin-bottom: 40px;
}

.product6-grey-deco {
  min-height: 716px;
  background-color: #fafafa;
}

#product-node-24 {
  -ms-grid-column-span: 4;
  grid-column-end: 8;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.hero-landing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 640px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 29, 0.45)), to(rgba(24, 24, 29, 0.8))), url('https://source.unsplash.com/GOPvKYn26F4');
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.8)), url('https://source.unsplash.com/GOPvKYn26F4');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

pvyWk-nXDNs

.hero-landing-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

#product-node-25 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.hero6-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero6-text {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sizejumbo-text.sizejumbo-full-clear {
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

