// Import page-specific CSS files here.
@import "home";

#product-node-26 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

.headline-grid {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav3-menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav3-menu {
  margin-left: -15px;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;
}

.navbar3 {
  z-index: auto;
  width: 100%;
  padding: 22px 36px;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #ebedee;
  background-color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar3.active-nav3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav3-wrap {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

#product-node-27 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

#product-node-28 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

.product-1 {
  height: 360px;
  background-image: url('https://source.unsplash.com/5Oe8KFH5998');
  background-position: 50% 50%;
  background-size: contain;
}

.product-2 {
  height: 360px;
  background-image: url('https://source.unsplash.com/sYC1OkJRh34');
  background-position: 50% 50%;
  background-size: contain;
}

.product-3 {
  height: 360px;
  background-image: url('https://source.unsplash.com/CjqzACWsSrI');
  background-position: 50% 50%;
  background-size: contain;
}

.product-4 {
  height: 360px;
  background-image: url('https://source.unsplash.com/mmdqGRs-yeo');
  background-position: 50% 50%;
  background-size: contain;
}

.product-5 {
  height: 360px;
  background-image: url('https://source.unsplash.com/y5UPTJ63PyI');
  background-position: 50% 50%;
  background-size: contain;
}
