<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://source.unsplash.com/F7ayfiqDeMk);">
  <div class="container">
    <h1>ART DECO FINDER</h1>
    <h2>REFRESH AND REINVIGORATE YOUR ENVIRONMENT.</h2>
  </div>
</div>

