<div class="hero-landing">
  <div class="section">
    <div class="w-layout-grid hero-landing-grid">
      <div id="product-node-25" class="hero6-content">
        <div class="hero6-text">
          <div class="sizejumbo-text sizejumbo-full-clear">Décor</div>
          <div class="text-label">Stylish Artistic Rentals</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid content6-grid">
      <div id="product-node-5" class="content6-headline-grid">
        <div id="product-node-6" class="content6-headline-wrap">
          <div class="size1-text">Enrich your environment.</div>
          <p class="paragraph-70">Refresh and reinvigorate your environment by renting the very best in contemporary art. Our wide selection of stylish contemporary pieces for your workspace, event or home.</p>
        </div>
      </div>
      <div id="product-node-7" class="content6-image1"></div>
      <div id="product-node-8" class="content6-image2"></div>
      <div id="product-node-9" class="content6-image3"></div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid content30-grid">
      <div id="product-node-13" class="size1-text">How it works</div>
      <div id="product-node-14">
        <div class="sizejumbo-text">1</div>
        <div class="content30-divider"></div>
        <div class="size5-text">Search</div>
        <p class="paragraph-70">Explore 100's of contemporary art pieces in your area.</p>
      </div>
      <div id="product-node-15">
        <div class="sizejumbo-text">2</div>
        <div class="content30-divider"></div>
        <div class="size5-text">Enquire</div>
        <p class="paragraph-70">Contact the owner directly about the item.</p>
      </div>
      <div id="product-node-16">
        <div class="sizejumbo-text">3</div>
        <div class="content30-divider"></div>
        <div class="size5-text">Rent</div>
        <p class="paragraph-70">Secure your item through a verified payment process.</p>
      </div>
      <div id="product-node-17">
        <div class="sizejumbo-text">4</div>
        <div class="content30-divider"></div>
        <div class="size5-text">Enjoy</div>
        <p class="paragraph-70">Feel the positive impact in your environment.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m200">
  <div class="section">
    <div class="w-layout-grid content24-grid">
      <div id="product-node-10" class="quote">&quot;I'd highly recommend renting a contemporary art piece for your next event, it was a real talking point for our end of year party.&quot;</div>
      <div id="product-node-11" class="content-image-quote"></div>
      <div id="product-node-12">
        <div class="content24-item-wrap">
          <div class="colour-dot"></div>
          <div>
            <div class="text-label">A RANGE OF FORM</div>
            <p class="paragraph-70">We offer a range of items, from canvas to sculpture.<br></p>
          </div>
        </div>
        <div class="content24-item-wrap">
          <div class="colour-dot"></div>
          <div>
            <div class="text-label">DIRECT CONTACT WITH OWNER<br></div>
            <p class="paragraph-70">Connect with the owner to cover all the details.<br></p>
          </div>
        </div>
        <div class="content24-item-wrap">
          <div class="colour-dot"></div>
          <div>
            <div class="text-label">SECURE BOOKING<br></div>
            <p class="paragraph-70">Each rental is securely booked.<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m100">
    <div class="home-background-image"></div>
</div>

<div class="section">
  <div class="w-layout-grid content-cat-grid">
    <div id="product-node-20" class="content-headline-wrap">
      <div class="text-label">START TO EXPLORE</div>
      <div class="size1-text">We have a range of catagories to browse...</div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="catagory-1"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a href="#" class="size3-link size3-top-clear">Abstract</a>
          <p class="paragraph-70">Explore a range of abstract pieces from local artists in your area.</p>
        </div>
        <div class="catagory-button-wrap">
          <a data-w-id="8e281ec5-060c-cfe9-b10e-f409ea443600" href="#" class="button-text w-inline-block">
            <div class="button-label">Explore Category</div><img src="images/arrow-dark2x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="catagory-2"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a href="#" class="size3-link size3-top-clear">Decorative</a>
          <p class="paragraph-70">Explore a range of decorative pieces from local artists in your area.</p>
        </div>
        <div class="catagory-button-wrap">
          <a data-w-id="8e281ec5-060c-cfe9-b10e-f409ea443600" href="#" class="button-text w-inline-block">
            <div class="button-label">Explore Category</div><img src="images/arrow-dark2x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="catagory-3"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a href="#" class="size3-link size3-top-clear">Drawings</a>
          <p class="paragraph-70">Explore a range of hand drawn pieces from local artists in your area.</p>
        </div>
        <div class="catagory-button-wrap">
          <a data-w-id="8e281ec5-060c-cfe9-b10e-f409ea443600" href="#" class="button-text w-inline-block">
            <div class="button-label">Explore Category</div><img src="images/arrow-dark2x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="catagory-4"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a href="#" class="size3-link size3-top-clear">Paintings</a>
          <p class="paragraph-70">Explore a range of paintings from local artists in your area.</p>
        </div>
        <div class="catagory-button-wrap">
          <a data-w-id="8e281ec5-060c-cfe9-b10e-f409ea443600" href="#" class="button-text w-inline-block">
            <div class="button-label">Explore Category</div><img src="images/arrow-dark2x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="catagory-5"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a href="#" class="size3-link size3-top-clear">Photo</a>
          <p class="paragraph-70">Explore a photo prints from local artists in your area.</p>
        </div>
        <div class="catagory-button-wrap">
          <a data-w-id="8e281ec5-060c-cfe9-b10e-f409ea443600" href="#" class="button-text w-inline-block">
            <div class="button-label">Explore Category</div><img src="images/arrow-dark2x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="catagory-6"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a href="#" class="size3-link size3-top-clear">Print</a>
          <p class="paragraph-70">Explore a range of prints from local artists in your area.</p>
        </div>
        <div class="catagory-button-wrap">
          <a data-w-id="8e281ec5-060c-cfe9-b10e-f409ea443600" href="#" class="button-text w-inline-block">
            <div class="button-label">Explore Category</div><img src="images/arrow-dark2x.svg" alt="" class="button-arrow"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m200">
  <div class="section">
    <div class="w-layout-grid product6-grid">
      <div id="product-node-22" class="image-wrap">
        <a data-w-id="9c112e3b-73b1-efea-ac3d-ea0820813554" style="opacity:0" href="#" class="item-overlay w-inline-block">
          <div class="button-small white-small">
            <div>View Product</div>
          </div>
        </a>
        <div class="product6-image"></div>
      </div>
      <div id="product-node-23" class="product6-content-wrap">
        <div class="product6-description-wrap">
          <div class="size1-text">Featured Product</div>
          <div class="paragraph-70">This triptych piece is simple and modern. Each piece measuring 6ft x 6ft.</div>
        </div><a href="#" class="size3-link">Triptych for 3.</a>
        <div class="paragraph">£50/day</div>
      </div>
      <div id="product-node-24" class="product6-grey-deco"></div>
    </div>
  </div>
</div>

