<div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" role="banner" class="navbar3 active-nav3 w-nav">
  <div class="nav3-wrap">
    <a href="#" id="product-node-27" class="brand w-nav-brand">
    </a>
    <div id="product-node-26" class="nav3-menu-wrap">
      <nav role="navigation" class="nav3-menu w-nav-menu"><a href="#abstract" class="nav-link w-nav-link">Abstract</a><a href="#decorative" class="nav-link w-nav-link">Decorative</a><a href="#drawings" class="nav-link w-nav-link">Drawings</a><a href="#paintings" class="nav-link w-nav-link">Paintings</a><a href="#photo" class="nav-link w-nav-link">Photo</a><a href="#print" class="nav-link w-nav-link">Print</a></nav>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid headline-grid">
      <div id="product-node-28">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a id="abstract" href="" class="size3-link size3-top-clear">Abstract</a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="w-layout-grid content-cat-grid">
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="product-1"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="content12-image-description"><a href="" class="size3-link size3-top-clear">Colourful Abstraction</a>
          <p class="paragraph-70">This is an abstract painting.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid headline-grid">
      <div id="product-node-28">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a id="decorative" href="" class="size3-link size3-top-clear">Decorative</a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="w-layout-grid content-cat-grid">
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="product-2"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="content12-image-description"><a href="" class="size3-link size3-top-clear">Hanging Pots</a>
          <p class="paragraph-70">This are decorative hanging pots.</p>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="product-3"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="content12-image-description"><a href="" class="size3-link size3-top-clear">Light fixtures</a>
          <p class="paragraph-70">This are light fixtures.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid headline-grid">
      <div id="product-node-28">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a id="drawings" href="" class="size3-link size3-top-clear">Drawings</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid headline-grid">
      <div id="product-node-28">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a id="paintings" href="" class="size3-link size3-top-clear">Paintings</a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="w-layout-grid content-cat-grid">
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="product-4"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="content12-image-description"><a href="https://art-deco-finder.herokuapp.com/items/2" class="size3-link size3-top-clear">Big Painting</a>
          <p class="paragraph-70">This is a big painting.</p>
        </div>
      </div>
    </div>
    <div id="product-node-21">
      <div class="image-wrap">
        <div class="product-5"></div>
      </div>
      <div class="catagory-description-wrap">
        <div class="content12-image-description"><a href="https://art-deco-finder.herokuapp.com/items/2" class="size3-link size3-top-clear">Small Painting</a>
          <p class="paragraph-70">This is a lovely painting!.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid headline-grid">
      <div id="product-node-28">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a id="photo" href="" class="size3-link size3-top-clear">Photo</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper m150">
  <div class="section">
    <div class="w-layout-grid headline-grid">
      <div id="product-node-28">
        <div class="colour-dot"></div>
        <div class="content12-image-description"><a id="print" href="" class="size3-link size3-top-clear">Print</a>
      </div>
    </div>
  </div>
</div>
