<h3 class='text-center paragraph-70 my-3'>Create a new item</h3>

<%= render 'shared/form' %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
