<div class="section">
  <div class="layout-grid product-grid">
    <div id="product-node" class="product-content-wrap"><a href="#" class="size-link">Product Name</a>
      <div class="paragraph">£999.99</div>
      <div class="product-product-info-wrap">
        <div class="paragraph-70">Create inspiring, beautifully illuminated rooms. Review our wide selection of stylish contemporary lamps for living room, bedroom, bath and kitchen—and get enlightened about modern design.</div>
      </div>
    </div>
    <div class="product-deco-text">Category</div>
    <div id="product-node-2" class="product-image"></div>
  </div>
</div>
